/****** PLACE YOUR CUSTOM STYLES HERE ******/
.indented-list {
    padding-left: 50px
}

.bio-icon i, .bio-icon a {
    color: black;
}

.social-bookmark-2 > li {
    display: inline-block;
    margin: 0 10px;
}
