<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}
        <title>ULAB | Undergraduate Lab @ Berkeley</title>
        {% endblock %}
        <meta name="description" content="Undergraduate Lab @ Berkeley, ULAB"/>
        <meta author="Gan Tu (Michael)">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/custom.css') }} " rel="stylesheet" type="text/css" media="all" />
        <link href="{{ url_for('static', filename='css/custom-font.css') }} " rel="stylesheet" type="text/css" media="all" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="url_for('static', filename='img/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <style>
            a.alt-link:link {color: #b49347;}
            a.alt-link:visited {color: #b49347;}
            a.alt-link:hover {color: #92793f}
            a.alt-link:focus {color: #92793f}
        </style>
    </head>
    <body class="scroll-assist">

        {% block navbar %}
        {% include "nav.html" %}
        {% endblock %}

        <div class="main-container" style="margin-top:55px">

            {% block body %}
            {% endblock %}

            {% block footer %}
            {% include "footer.html" %}
            {% endblock %}

        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/flexslider.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/parallax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
