{% extends "base.html" %}

{% block title %}
    <title>Quintessential Research Bootcamp | ULAB @ Berkeley</title>
{% endblock %}

{% block body %}

<section>
  <div class="container">
    <div>
      <h3>Do you want a rocket scientist to talk about their research? <br>Do you want a CRISPR-Cas 9 expert to give you personalized advice on your research career? <br><b>Tell us and we will try to make it happen!</b><br>RSVP and vote the talks YOU want to hear here.</h3>
    </div>
    <br><br>
    <div class="image-holder">
        <img alt="Background Image" class="background-image" src="{{ url_for('static', filename='img/flyer.png') }}">
    </div>
    <br>
    <div>
        <a class="btn" href= "https://tinyurl.com/ulab-bootcamp" target="_blank">REGISTER NOW!</a>
    </div>
  </div>
</section>
{% endblock %}
