{% extends "base.html" %}

{% block title %}
    <title>Quintessential Research Bootcamp | ULAB @ Berkeley</title>
{% endblock %}

{% block body %}

<section class="page-title page-title-3 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="{{ url_for('static', filename='img/cover16.jpg') }}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase mb0">Quintessential Research Bootcamp</h3>
            </div>
        </div>

    </div>
</section>
{% endblock %}
