{% extends "base.html" %}

{% block body %}
  <br/>
  <div class="container">
    <div class="row" style="display:flex; justify-content:center">
      <h1> Welcome to Research! </h1>
    </div>
    <div class="row" style="display:flex; justify-content:center">
      <p style="width:67%">
        We believe that every student interested in participating in research at Berkeley should have the opportunity to do so. We are committed to individually helping new students find research on campus, developing student-led research projects, and connecting &amp; supporting students already involved in research.
      </p>
    </div>
  </div>

<div class="container">

      <div class="row" style="display:flex; justify-content:center">
        <h1> Our Labs </h1>
      </div>

      <div class="row" style="display:flex; justify-content:center">
      {% for lab_key in lab_ordering[0:5] %}
        <div class="col-md-2">
            <div class="image-tile outer-title text-center">
              <a href="/labs/{{lab_key}}">
                <img src="{{ labs[lab_key]['logo'] }}">
              </a>
              <a class="title" href="/labs/{{lab_key}}">
                <h6 class="uppercase mb0"> {{ labs[lab_key]['full_name'] }}</h6>
              </a>
            </div>
        </div>
      {% endfor %}
      </div>

      <!-- <div class="row" style="display:flex; justify-content:center"> -->
      <!-- {% for lab_key in lab_ordering[4:] %} -->
        <!-- <div class="col-md-2"> -->
            <!-- <div class="image-tile outer-title text-center"> -->
              <!-- <a href="/labs/{{lab_key}}"> -->
                <!-- <img src="{{ labs[lab_key]['logo'] }}"> -->
              <!-- </a> -->
              <!-- <a class="title" href="/labs/{{lab_key}}"> -->
                <!-- <h6 class="uppercase mb0"> {{ labs[lab_key]['full_name']}} </h6> -->
              <!-- </a> -->
              <!-- <div class="title"> -->
                <!-- {% if lab_key == 'aerospace' %} -->
                    <!-- <h6 class="uppercase mb0 red-title"> {{ "[{}]".format(labs[lab_key]['status']) }} </h6> -->
                <!-- {% endif %} -->
              <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
      <!-- {% endfor %} -->
      <!-- </div> -->

</div>
<br/>

   <style>
    body {
      background-color: white;
    }
    .center-div {
      display: flex;
      justify-content: center;
    }
    .red-title {
      color: red;
    }
  </style>
{% endblock %}
