{% extends "base.html" %}

{% block body %}
  <br/>
  <div class="container container-background" style="margin:0px; padding:0px; width:100%">
      <div class="row" style="display:flex; justify-content:center">
        <h1> Our Labs </h1>
      </div>
      {% for k,v in labs %}
      
          {% if loop.index % 4 == 1 %}
          <div class="row justify-content-center" style="display:flex;justify-content:center">
          {% endif %}
          
            <div class="col-md-2">
              <div class="image-tile outer-title text-center">
                <a href=#>
                  <img src="{{ v['logo'] }}">
                </a>
                <div class="title">
                  <h6 class="uppercase mb0"> {{ v['full_name'] }}</h6>
                </div>
              </div>
            </div>

          {% if loop.index % 4 == 0 %}
          </div>
          {% endif %}

      {% endfor %}
  </div>
  <style>
    body {
      background-color: white;
    }
  </style>
{% endblock %}
