{% extends "base.html" %}

{% block body %}
<section class="align-middle" style="font-size:2em; margin:0 2em">
  <h1 style="text-align: center">Career @ ULAB</h1>
  {% for category in jobs.keys() %}
  <h2>{{ category }} </h2>
  <div class="list-group">
    {% for job in jobs[category].keys() %}
    <a href={{ jobs[category][job]["link"] }} class="list-group-item list-group-item-action">{{ job }}</a>
    {% endfor %}
  </div>
  {% endfor %}

  <script>
    $('.collapse').collapse()
  </script>
</section>
{% endblock %}
