{% extends "base.html" %}

{% block body %}
<section class="align-middle" style="font-size:2em; margin:0 2em">
  <h1 style="text-align: center">Career @ ULAB</h1>

  <div class="dropdown show" style='margin-bottom: .8em'>
    <a class="btn btn-secondary dropdown-toggle" style="margin-bottom: 0"
        href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select A Field
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="padding: .5em;">
      {% for category in jobs.keys() %}
      <a class="dropdown-item" style="display:block" href="/jobs/{{category}}">{{ category }}</a>
      {% endfor %}
    </div>
  </div>


  <h2>{{ jobCategory }} </h2>
  <div class="list-group">
    {% for job in jobs[jobCategory].keys() %}
    <a href={{ jobs[jobCategory][job]["link"] }} class="list-group-item list-group-item-action">
      <div style="display: inline-block">{{ job }}</div>

      <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div> -->
    </a>
    <div style="padding: 1em 1em">
      <p>Application Deadline: {{ jobs[jobCategory][job]['deadline'] }}</p>
      <p>{{ jobs[jobCategory][job]['description'] }}</p>
      <p>{{ jobs[jobCategory][job]['qualifications'] }}</p>
      <p>{{ jobs[jobCategory][job]['commitment'] }}</p>
      <p>{{ jobs[jobCategory][job]['perks'] }}</p>
    </div>


    {% endfor %}
  </div>


</section>
{% endblock %}
