{% extends "base.html" %}

{% block body %}
  <br/>
  <div class="container">
    <div class="row center-div">
      {%if lab['logo'] %}
          <img src={{ lab['logo'] }}>
      {%endif%} 
    </div>
    <div class="row center-div">
      <h1 class="lab-title"> {{ lab['full_name']}} </h1>
    </div>

    <div class="row center-div">
      <div class="lab-content">
        {%if lab['content']['overview']['group_photo'] %}
          <img 
          alt="Group Photo"
          src={{ lab['content']['overview']['group_photo'] }}
          class="group-photo">
        {%endif%} 

        <!-- slide show -->
        {%if lab['content']['overview']['slides'] %}
        <div class="container" style="padding-bottom: 40px">
          {% for image in lab['content']['overview']['slides'] %}
              <img class="slide" src={{image}}>
          {% endfor %}
          
          <button class="slide-button slide-button-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="slide-button slide-button-right" onclick="plusDivs(1)">&#10095;</button>
        </div>
          <script>
            var slideIndex = 0;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("slide");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }

            function auto() {
              plusDivs(1)
              setTimeout(auto, 4500)
            }
            auto();
          </script>
        {%endif%} 
        
        <h4 id="overview"> {{ lab['content']['overview']['title'] | safe }}</h4>
        <p> {{ lab['content']['overview']['text'] | safe }} </p>
        <br/>


        {%if lab['content']['sponsor']%}
            <h4> {{ lab['content']['sponsor']['title'] | safe }}</h4>
            <p> {{ lab['content']['sponsor']['text'] | safe }} </p>
            <br/>
        {%endif%}

        {% if lab['members']|length > 0 %}
          <h4> Our Staff </h4>
          <div class="row" style="display:flex; justify-content:center; flex-wrap:wrap;">
          {% for person in lab['members'] %}

                  <div class="col-md-3">
                      <div class="image-tile outer-title text-center">

                          <!-- Image with Modal Box -->
                          <img 
                            alt="Pic" 
                            src="{{ url_for('static', filename=members[person]['img']) }}" 
                            class="profile-img"
                            data-modal="modal-{{person}}">
                          <!-- Modal Box -->
                          <div id="modal-{{person}}" class="modal">
                              
                            <!-- Modal Content -->
                            <div class="modal-content">
                                <span class="close" data-modal="modal-{{person}}">&times;</span>
                                <img 
                                  alt="Pic" 
                                  src="{{ url_for('static', filename=members[person]['img']) }}" 
                                  class="modal-img">
                                <div class="title">
                                    <h6 class="uppercase mb0">{{ person }} </h6>
                                    <h7> {{ members[person]['title'] }} </h7>
                                    <div class="bio-icon">
                                        <span> {{ members[person]['email'] }} </span> <br/>
                                        {% if not members[person]['personal'] == '' %}
                                            <span><a href="{{ members[person]['personal'] }}" target="_blank"><i class="ti-world"></i></a></span>
                                        {% endif %}
                                        {% if not members[person]['github'] == '' %}
                                            <span><a href="{{ members[person]['github'] }}" target="_blank"><i class="ti-github"></i></a></span>
                                        {% endif %}
                                        {% if not members[person]['linkedin'] == '' %}
                                            <span><a href="{{ members[person]['linkedin'] }}" target="_blank"><i class="ti-linkedin"></i></a></span>
                                        {% endif %}
                                    </div>
                                    {% if not members[person]['bio'] == '' %}
                                      </br>
                                      <p> {{ members[person]['bio'] | safe }}</p>
                                    {% endif %}
                                </div>
                            </div>
                          </div>
                          
                          <!-- Script to Trigger Modal -->
                          <script>
                              // Get the modal
                              var modal = document.getElementsByClassName("modal");
                              // Get the image that opens the modal
                              var img = document.getElementsByClassName("profile-img");
                              // Get the <span> element that closes the modal
                              var closeSpan = document.getElementsByClassName("close");
                              
                              // Control the Appearance of the Modal 
                              for (var i = 0; i < img.length; i++) {
                                var profileImg = img[i];
                                // Opening the Modal
                                profileImg.onclick = function() {
                                  var thisModal = document.getElementById(this.dataset.modal);
                                  thisModal.style.display = "block";
                                };
                                // Closing the Modal
                                var thisClose = closeSpan[i];
                                thisClose.onclick = function() {
                                  var thisModal = document.getElementById(this.dataset.modal); //A higher-scoped version of this doesn't work
                                  thisModal.style.display = "none";
                                  };
                              }
                          </script>

                          <!-- Description -->
                          <div class="title">
                              <h6 class="uppercase mb0">{{ person }} </h6>
                              <h7> {{ members[person]['title'] }} </h7>
                              <div class="bio-icon">
                                  <span> {{ members[person]['email'] }} </span> <br/>
                                  {% if not members[person]['personal'] == '' %}
                                      <span><a href="{{ members[person]['personal'] }}" target="_blank"><i class="ti-world"></i></a></span>
                                  {% endif %}
                                  {% if not members[person]['github'] == '' %}
                                      <span><a href="{{ members[person]['github'] }}" target="_blank"><i class="ti-github"></i></a></span>
                                  {% endif %}
                                  {% if not members[person]['linkedin'] == '' %}
                                      <span><a href="{{ members[person]['linkedin'] }}" target="_blank"><i class="ti-linkedin"></i></a></span>
                                  {% endif %}
                              </div>
                          </div>

                      </div>
                  </div>

          {% endfor %}
          </div>
          
          <br/>
        {% endif %}

        <h4 id="join"> {{ lab['content']['join']['title'] | safe }} </h4>
        <p> {{ lab['content']['join']['text'] | safe }} </p>
        <br/>

        <h4> {{ lab['content']['calendar']['title'] | safe }} </h4>
        <p> {{ lab['content']['calendar']['text'] | safe }} </p>
        <div class="row center-div">
          {{ lab['content']['calendar']['object'] | safe }}
        </div>

        {%if lab['content']['table']%}
        <div class="schedule-table">
          <br>
          <br>
            <table align="center">
              <tr>
                <th>Topic</th>
                <th>Due Date</th>
                {% for row in lab['content']['table']['rows']%}
                <tr>
                  <td><a href={{row['link']}} target="_blank"> {{row['col'][0]}} </a></td>
                  <td>{{row['col'][1]}}</td>
                </tr>
                {% endfor %}
              </tr>
            </table>

        </div>
        {%endif%}

        <br>
        <br>
        <div class="row center-div">
          <!-- Past Papers Database Circle -->
          {%if lab['content']['database']%}
          <div class="database-circle">
            <a class="database-link" href="{{ lab['content']['database']['link'] }}">
              Database
            </a>
          </div>
          {%endif%}

          <!-- Portfolio Circle -->
          {%if lab['content']['portfolio']%}
          <div class="database-circle">
            <a class="database-link" href="{{ lab['content']['portfolio']['link'] }}">
              Student Portfolio
            </a>
          </div>
          {%endif%}

          <!-- Modules Circle -->
          {%if lab['content']['modules']%}
          <div class="database-circle">
            <a class="database-link" href="{{ lab['content']['modules']['link'] }}">
              Modules
            </a>
          </div>
          {%endif%}
        </div>

      </div>
    </div>

  </div>

  <style>
    body {
      background-color: white;
    }
    .center-div {
      display: flex;
      justify-content: center;
    }
    .center-div > img {
      height:300px;
      width:300px;
    }
    .lab-title {
      margin: 0px 50px;
    }
    .lab-content {
      margin: 25px 50px;
    }
    .profile-img {
      height: 240px;
      max-width: 240px;
      border-radius: 50%;
      transition: 0.3s;
    }
    .database-circle {
      height: 240px;
      width: 240px;
      border-radius: 50%;
      transition: 0.3s;
      background-color: #46535e;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .database-link {
      color: #f2f2f2;
      font-size: 24px;
      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .database-circle:hover {opacity: 0.5}
    .profile-img:hover {opacity: 0.5}
    .modal {
      display: none; /* Hidden by default */
      position: fixed; 
      z-index: 1; /* Sit on top */
      padding-top: 100px; 
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
      background-color: #f2f2f2;
      margin: auto;
      padding: 20px;
      border: 1px solid black;
      width: 80%;
    }
    .group-photo {
      display: block;
      padding-bottom: 40px;
    }
    .close {
      color: #808080;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-img {
      height: 240px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      max-width: 240px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    table, th, td {
       padding: 10px;
       border: 1px solid black;
  }
  .slide {
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: auto;
  }

  .slide-button {
    border:none;
    display:inline-block;
    padding:2px 10px;
    vertical-align:middle;
    background-color:rgba(255,255,255, 0.5);
    text-align:center;

  }

  .slide-button-left{
    position:absolute;
    bottom:-20;
    left:250px;
  }

  .slide-button-right {
    position:absolute;
    bottom:-20px;
    right:250px;
  }
  </style>
{% endblock %}
