{% extends "base.html" %}

{% block body %}
  <br/>
  <div class="container">
    <div class="row center-div">
      <img src={{ lab['logo'] }}>
    </div>
    <div class="row center-div">
      <h1> Welcome to Research! :) </h1>
    </div>
    <div class="row center-div">
      <p>
        &emsp;&emsp;&emsp;&emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit quis libero eu iaculis. Donec a turpis placerat, mattis erat aliquet, semper diam. Donec magna nisl, blandit pellentesque vehicula in, egestas eget est. Phasellus molestie, tellus in euismod lobortis, quam ligula rhoncus sapien, vitae laoreet eros lorem vulputate dui. Donec blandit neque non neque ullamcorper semper. Sed maximus varius est lobortis finibus. Nunc eu sapien dui. Donec aliquam, massa nec suscipit tincidunt, augue massa vulputate metus, quis euismod odio nisi et erat.
      </p>
    </div>
  </div>
  
  <style>
    body {
      background-color: white;
    }
    .center-div {
      display: flex;
      justify-content: center;
    }
    .center-div > img {
      height:300px;
      width:300px;
    }
  </style>
{% endblock %}