{% extends "base.html" %}

{% block body %}
<section class="align-middle" style="font-size:1.5em; margin:0 2em">
  <h3 style="text-align: center"> Select a uLab below to learn more about it (and see current openings) </h3>
  <center>
    <a href= {{ "/labs/{}".format("cogsci") }}> {{ labs["cogsci"]["full_name"] }} </a> (<a href="https://goo.gl/forms/CP88XEos8anrlNwl2" class="alt-link">Mentor Application</a>) (<a href="https://goo.gl/forms/7DAT9Tq1JESJWZG53" class="alt-link">Student Researcher Application</a>)
    <br>
    <br>
    <a href= {{ "/labs/{}".format("physics") }}> {{ labs["physics"]["full_name"] }} </a> (<a href="https://goo.gl/forms/G3russO6DYIITCss2" class="alt-link">Staff Application</a>) (<a href="https://goo.gl/forms/iraCqlmh8CsYuWG03" class="alt-link">Student Researcher Application</a>)
    <br>
    <br>
    <a href= {{ "/labs/{}".format("atg") }}> {{ labs["atg"]["full_name"] }} </a>
    <br>
    <br>
    <a href= {{ "/labs/{}".format("ops") }}> {{ labs["ops"]["full_name"] }} </a> (<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLScuj7uD-TF_2rsHOsHJLUlPOML2Dubbr9TnqGMCGmBcd3zdog%2Fviewform%3Fusp%3Dsf_link&h=AT0y-vYYen3mQcWXNZE6TKhZ8onkgkHxDxshgfkeCGasrrR-jTE6zb3xAIpZOBl18pkmZQDe6M2GapgomjG2Zvo_NDGeAkTQoTfqG16jR4VDmfopa5ab2gtyrwqPrfO8RqudUbdztXPGodqj" class="alt-link">Application</a>)
    <br>
    <br>
    <a href= {{ "/labs/{}".format("bio") }}> {{ labs["bio"]["full_name"] }} </a> (<a href="https://docs.google.com/forms/d/e/1FAIpQLSeGrLPxuNpCTrT4wpxmaEiP-Bt_CA0F9YJgxl55D3Kjo-i9bA/viewform" class="alt-link">Mentor Application</a>)
    <br>
    <br>
    <a href= {{ "/labs/{}".format("data") }}> {{ labs["data"]["full_name"] }} </a> (<a href="https://docs.google.com/forms/d/e/1FAIpQLSfJcPpq_t0p32E2OwWhMw2y24ROi10jPbQBSAI4SND3gDflgA/viewform" class="alt-link">Mentor Application</a>)
    <br>
    <br>
    <a href= {{ "/labs/{}".format("aerospace") }}> {{ labs["aerospace"]["full_name"] }} </a>
    <br>
    <br>
  </center>
  <!-- {% for lab in labs.keys() %}
    <center>
      <a href= {{ "/labs/{}".format(lab) }}> {{ labs[lab]["full_name"] }} </a>
      <br>
      <br>
    </center>
  {% endfor %} -->
</section>
{% endblock %}
