{% block navbar %}
<!-- <div class="nav">
    <nav class="absolute">

    </nav>
</div> -->
<style>
    .indented {
      padding-left: 40pt;
      padding-right: 0pt;
    }
    .menu > li ul{
      width: 350px;
    }
</style>
<div class="nav-container">
    <nav class="absolute">
        <div class="nav-bar">
            <div class="module left" style="padding-right:3px">
                <a href="/">
                    <img class="logo logo-light" alt="Foundry" src="{{ url_for('static', filename='img/logos/logo_general.png') }}">
                    <img class="logo logo-dark" alt="Foundry" src="{{ url_for('static', filename='img/logos/logo_general.png') }}">
                      &ensp;Undergraduate Laboratory @ Berkeley
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="/">Home </a>
                        </li>
                        <li>
                            <a href="/about">About Us</a>
                        </li>

                        <li>
                            <a href="https://medium.com/undergraduate-lab-at-berkeley">Blog</a>
                        </li>

                        <li class="has-dropdown">
                            <!-- <a href="#">Past Research Projects</a>
                            <ul>
                                {% for project in navProjects %}
                                <li>
                                    <a href="{{ project['url'] }}">
                                        <small>{{ project['name'] }}</small>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul> -->
                            <a href="#">Our Labs</a>
                            <ul>
                                {% for lab in navLabs %}
                                    <li>
                                        <a href="{{ lab['url'] }}">
                                            <small>{{ lab['name'] }}</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
              	         </li>
            		    </ul>
                </div>

                <div class="module widget-handle left">
                    <ul class="menu">
                        <li>
                            <!-- <a href="/join-page" class="inner-link" target="_self">Join Now</a> -->
                            <a href="/join-page" class="inner-link" target="_self">Join Now</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </nav>
</div>

{% endblock %}
