{% extends "base.html" %}

{% block body %}
<script type="text/javascript">
  function appdisapp(elementID, block){
    if (document.getElementById(elementID).style.display == 'none'){
      if (block) {
        document.getElementById(elementID).style.display = 'block'
      } 
      else {
        document.getElementById(elementID).style.display = 'inline'
      }
    }
    else{ 
      document.getElementById(elementID).style.display = 'none'
    }
  }
</script>
  <br/>
  <div class="container">
    <div class="row" style="display:flex; justify-content:center">
      <h1> Poster Symposium Spring 2021 </h1>
    </div>
    <div class="row" style="justify-content:center">
      <p style="width:80%">
        The ULAB Joint Poster Symposium will be held on Monday, May 3rd from 10 AM--12 PM on Gather.Town: <a href="https://gather.town/app/UoZngtfr7W99HQv2/ULAB%20Poster%20Symposium" target="_blank">EVENT LINK</a> and <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=N2JvZDJjOTZvYWwxZGk4ZGVuam9lODVvdHMgcGh5c2ljcy51bGFiQG0&amp;tmsrc=physics.ulab%40gmail.com">Add to Calendar.</a>
        <br>
        <br>
        Click on the title to view each poster!
      </p>
    </div>

    <div class="row", style="">
      {% for lab_key in lab_ordering[0:5] %}
        <div>
          <h4>{{ labs[lab_key]['full_name'] }}</h4>
          {% for poster in posters[lab_key].keys()%}
            <a href={{posters[lab_key][poster]}} target="_blank">{{poster}}</a>
            <br>
          {% endfor %}
          <br>
          <br>
        </div>
      {% endfor %}
    </div>

  </div>

<br/>

   <style>
    body {
      background-color: white;
    }
    .center-div {
      display: flex;
      justify-content: center;
    }
    .red-title {
      color: red;
    }
  </style>
{% endblock %}
