{% extends "base.html" %}

{% block body %}
  <br/>
  <div class="container">
    <div class="row" style="display:flex; justify-content:center">
      <h1> Poster Symposium Spring 2021 </h1>
    </div>
    <div class="row" style="justify-content:center">
      <p style="width:67%">
        The ULAB Joint Poster Symposium will be held on Monday, May 3rd from 10 AM--12 PM on Gather: <a href="https://gather.town/app/UoZngtfr7W99HQv2/ULAB%20Poster%20Symposium" target="_blank">event link</a>
        RSVP INFORMATION
        <br>
        <br>
        Click on the title to view each poster!
      </p>
    </div>

    <div class="row", style="">
      {% for lab_key in lab_ordering[0:5] %}
        <div>
          <h4>{{ labs[lab_key]['full_name'] }}</h4>
          {% for poster in posters[lab_key].keys()%}
            <a href="{{'static/posters-sp21/' + posters[lab_key][poster]}}">{{poster}}</a>
            <br>
          {% endfor %}
          <br>
          <br>
        </div>
      {% endfor %}
    </div>

  </div>

<br/>

   <style>
    body {
      background-color: white;
    }
    .center-div {
      display: flex;
      justify-content: center;
    }
    .red-title {
      color: red;
    }
  </style>
{% endblock %}
