<!DOCTYPE html>
<link rel="stylesheet" href="static/css/diagram.css"/>
<script>
function close() {
document.getElementById("closed").click();
document.getElementById("main").click();
}
</script>
<body onload="close">
<div class="container">
<div class="tree zoomable">
	<ul>
		<li>
			<a id="main" href="#">ULAB</a>
      <div class="down-connector"></div>
			<ul>
				<li>
					<a href="#"> Reality</a>
          <div class="down-connector"></div>
          <ul>
						<li>
              <a href="#">Biology</a>
              <div class="down-connector"></div>
              <ul>
                <li>
                  <a href="#">Front Office</a>
                </li>
                <li>
                  <a href="#">Genetics</a>
                </li>
                <li>
                  <a>Medicinal Chemistry</a>
                </li>
              </ul>
              </li>
            <li>
              <a href="#">Cognitive Science</a>
              <div class="down-connector"></div>
              <ul>
                <li>
                  <a href="#">Mapping</a>
                </li>
                <li>
                  <a href="#">Libet</a>
                </li>
                <li>
                  <a href="#">Atrophy</a>
                </li>
                <li>
                  <a href="#">Language</a>
                </li>
                <li>
                  <a href="#">Front Office</a>
                </li>
              </ul>
              </li>
						<li>
							<a href="#">Physics</a>
              <div class="down-connector"></div>
							<ul>
								<li id="closed">
									<a href="#">Condensed Matter</a>
                  <div class="down-connector"></div>
                  <ul>
                  <li>
  									<a>Graphene</a>
  								</li>
                  <li>
                    <a>Superconductivity</a>
                  </li>
                </ul>
								</li>
								<li>
									<a href="#">Astrophysics</a>
                  <div class="down-connector"></div>
                  <ul>
                  <li>
  									<a>Black Holes</a>
  								</li>
                </ul>
								</li>
								<li>
									<a>Particle Physics</a>
								</li>
                <li>
									<a>Front Office</a>
								</li>
							</ul>
						</li>
          </ul>
          <li>
            <a href="#" id="closed">Development</a>
            <div class="down-connector"></div>
            <ul>
              <li>
                <a href="#">Partnerships</a>
                <div class="down-connector"></div>
                <ul>
                  <li>
                    <a href="#">Front Office</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">ATG</a>
                <div class="down-connector"></div>
                <ul>
                  <li>
                    <a href="#">Front Office</a>
                  </li>
                  <li>
                    <a>Khangsters</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Fundraising</a>
                <div class="down-connector"></div>
                <ul>
                  <li>
                    <a href="#">Front Office</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Design</a>
                <div class="down-connector"></div>
                <ul>
                  <li>
                    <a href="#">Front Office</a>
                  </li>
                </ul>
              </li>
            </ul>
            </li>
            <li>
              <a href="#" id="closed">CS</a>
              <div class="down-connector"></div>
              <ul>
                <li>
                  <a href="#">Visualization</a>
                  <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Front Office</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Machine Learning</a>
                  <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Front Office</a>
                    </li>
                    <li>
                      <a>NLP</a>
                    </li>
                    <li>
                      <a>Data</a>
                    </li>
                    <li>
                      <a>Vision</a>
                    </li>
                  </ul>
                </li>
              </ul>
              </li>
              <li>
                <a href="#" id="closed">Engineering</a>
                <div class="down-connector"></div>
                <ul>
                  <li>
                    <a href="#">Aerospace</a>
                    <div class="down-connector"></div>
                    <ul>
                      <li>
                        <a href="#">Drones</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Robotics</a>
                    <div class="down-connector"></div>
                    <ul>
                      <li>
                        <a href="#">Vanguard</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Front Office</a>
                  </li>
                </ul>
                </li>
            <li>
              <a href="#">Operations</a>
              <div class="down-connector"></div>
              <ul>
                <li>
                  <a href="#">Training</a>
                   <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Front Office</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Infrastructure</a>
                  <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Physical</a>
                      <div class="down-connector"></div>
                      <ul>
                        <li>
                          <a href="#">Front Office</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                    <a href='#'>Virtual</a>
                    <div class="down-connector"></div>
                    <ul>
                      <li>
                        <a href="#">Front Office</a>
                      </li>
                    </ul>
                    </li>
                    </li>
                  </ul>
                <li>
                  <a href="#">Advising</a>
                  <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Front Office</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">PM</a>
                  <div class="down-connector"></div>
                  <ul>
                    <li>
                      <a href="#">Front Office</a>
                    </li>
                  </ul>
                </li>
              </li>
              </ul>
            </li>
        </ul>
        </li>
      </ul>
</div>
</div>
</body>
<script data-require="jquery" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
<script src="static/js/javascript.js"></script>
<script src='static/js/panzoom.js'></script>
<script>
var area = document.querySelector('.zoomable')
panzoom(area)
</script>
element.click(Development)
